@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .custom-border::after {
      content: '';
      width: calc(100% - 1.5rem * 2);
      height: 4px;
      background-color: #818cf8;
      position: absolute;
      bottom: 0px;
      margin: auto;
    }
  }